.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photograph-header article h1 {
  color: #d3573c;
  font-size: 64px;
  margin-bottom: 0;
  margin-top: 15px;
}

.photograph-header article p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.photograph-header article p.location {
  color: #901c1c;
  font-size: 24px;
}

.photograph-header article p.tagline {
  color: #525252;
  font-size: 18px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  background: #c4c4c4;
  object-fit: cover;
}

.contact-button {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  /* padding: 23px 18px; */
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;

  text-align: center;
}

#main .contact-button:hover,
#main .contact-button:focus {
  background-color: #db8876;
  color: black;
  cursor: pointer;
}

/* ---------------------------- MEDIA SECTION ------------------------------------ */

.media-section {
  margin: 20px 100px;
}

.media-sorting-container {
  height: 70px;
  display: flex;
  align-items: baseline;

  position: relative;
}

.media-sorting-container label {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;

  margin: 0 20px 0 0;
}

.sorting-wrapper {
  position: absolute;
}

#sorting-btn {
  box-sizing: border-box;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;

  text-align: left;
  padding: 0 15px;

  /* display: none; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sorting-btn:hover,
#sorting-btn:focus {
  background-color: #db8876;
  color: black;
  cursor: pointer;
}

#arrow-down-open {
  margin-left: 23px;
}

/* ------------------------------ DROPDOWN MENU ---------------------------------- */

ul#hidden-sorting {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  width: 170px;
  height: 170px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;

  position: relative;
  top: -70px;
  padding: 0 0;

  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

ul#hidden-sorting.display {
  display: flex;
  z-index: 1;
}

ul#hidden-sorting hr {
  width: 90%;
  margin: 0 auto;
  border-style: solid;
  border-top: none;
}

ul#hidden-sorting li {
  /* background: #901c1c;
  color: #fff;
  font-size: 18px;
  font-weight: bold; */
  /* padding: 15px; */
  /* height: 70px; */
  padding: 14px 15px;
}

/* #arrow-up-close {
  z-index: 10;
} */

ul#hidden-sorting li:nth-child(1) {
  align-items: center;
  display: flex;
  justify-content: space-between;

  padding-top: 23.5px;
}

ul#hidden-sorting li:hover,
ul#hidden-sorting li:focus,
ul#hidden-sorting li:focus-visible {
  background-color: #db8876;
  color: black;
  cursor: pointer;
}

ul#hidden-sorting li:nth-child(1):hover,
ul#hidden-sorting li:nth-child(1):focus,
ul#hidden-sorting li:nth-child(1):focus-visible {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ul#hidden-sorting li:last-child:hover,
ul#hidden-sorting li:last-child:focus,
ul#hidden-sorting li:last-child:focus-visible {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ------------------------------ MEDIA CARDS ---------------------------------- */

.media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 35px;
  column-gap: 95px;
  margin: 25px 0;
}

.media-container article img:hover,
.media-container article img:focus,
.media-container article img:focus-visible,
.media-container article video:hover,
.media-container article video:focus,
.media-container article video:focus-visible {
  outline: black auto 1px;
}

.media-container article img,
.media-container article video {
  height: 300px;
  width: 350px;
  background: #c4c4c4;
  border-radius: 5px;

  object-fit: cover;
  cursor: pointer;
}

.media-container .media-title-container {
  width: 350px;
  margin: 0;
  display: flex;
  justify-content: space-between;

  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}

.media-container .media-title-container .media-title {
  margin: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media-title-container .media-likes {
  font-weight: 500;
  margin: 0;
  text-align: end;
  width: 80px;
}

.media-title-container .media-likes i {
  margin-left: 7px;
}

.media-title-container .media-likes:hover,
.media-title-container .media-likes:focus-visible {
  cursor: pointer;
  color: #db8876;
}

/* .media-title-container .media-likes:hover .media-likes-span {
  color: black;
}

.media-title-container .media-likes:hover i {
  color: #db8876;
} */

/* ---------------------------------------------------------------- */

#likes-price-container {
  position: fixed;
  bottom: 0;
  right: 36px;

  width: 376px;
  height: 89px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: #db8876;

  font-size: 24px;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 31px;
}

/* ----------------------------- MODAL -------------------------------- */

.transparent {
  opacity: 0.4;
}

.contact-modal {
  display: none;
}

.contact-modal.displayModal {
  display: block;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;

  width: 670px;
  height: 900px;
  padding: 35px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 56px;
  left: 25%;
  z-index: 2;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.modal header {
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: start;
  /* width: 50%; */
}

.modal h2 {
  font-size: 64px;
  font-weight: normal;
  /* justify-self: left; */
  margin: 0 auto 0 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form .inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  margin-bottom: 10px;
}

form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  margin-bottom: 10px;
}

form .contact-button:hover,
form .contact-button:focus {
  background-color: #7a1515;
  cursor: pointer;
}

/* ----------------------------- LIGHTBOX -------------------------------- */
.lightbox-aside {
  display: none;
}

.lightbox-aside.displayLightBox {
  display: block;
}

#lightbox-container {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);

  width: calc((100vh - 40px) * 1.27);
  /* width: 50%; */
  height: calc(100vh - 40px);
  /* padding: 35px; */
  /* margin: auto; */

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 20px;
  left: calc((100vw - ((100vh - 40px) * 1.27)) / 2);
  z-index: 3;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

#center-LB-container {
  width: 80%;
  height: 100%;
}

#previous-LB-container,
#next-LB-container {
  width: 10%;
}

#previous-LB-container {
  /* align-self: center; */
  text-align: center;
}

#next-LB-container {
  /* align-self: flex-start; */

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* padding: 5% 0; */
}

#close-LB {
  width: 3.5%;

  position: absolute;

  top: 7%;
  right: 3%;
}

.icon-LB {
  cursor: pointer;
}

.icon-LB:focus {
  outline: black auto 1px;
}

#center-LB-container article {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;

  padding-top: 3%;
}

#center-LB-container img,
#center-LB-container video {
  height: 90%;
  width: 100%;

  object-fit: cover;
  border-radius: 5px;

  background-color: #c4c4c4;
  box-shadow: 3px 0px 0px 0px rgb(196, 196, 196);
}

#center-LB-container p {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;

  margin: 1% 0 0 0;
  padding: 0;
}
