@import url("photographer.css");

/*******************  GENERAL *******************/

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

a,
li,
ul,
hr {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style-type: none;
}

button {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
}

/************************************************/
/*******************  HEADER *******************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

/******************************************************************/
/*******************  SECTION DES PHOTOGRAPHES *******************/

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*************************************************/
/*******************  ARTICLE *******************/

.photographer-section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photographer-section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-bottom: 0;
  margin-top: 15px;
}

.photographer-section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  object-fit: cover;
}

.photographer-section article p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 400;
}

.photographer-section article p.location {
  color: #901c1c;
  font-size: 13px;
}

.photographer-section article p.tagline {
  font-size: 10px;
}

.photographer-section article p.price {
  color: #757575;
  font-size: 9px;
}

.photographer-section article a:focus-visible {
  outline: 5px solid #901c1c;
}
